@use '_variables' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $primaryFont;
    background-color: $bodyColor;
}

main {
    background-color: $bodyColor;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
