$primaryFont: 'Roboto', sans-serif;

$bodyColor: #d5d3ea;
$h1Color: #f9b15e;
$buttonColor: #190f03;
$shadowColor: rgba(0, 0, 0, 0.24);
$usernameColor: #755e45;
$lightBoxTextColor: #f9a94d;
$black: #000000;
